body {
  margin: 0;
  padding: 0;
}
.city_font1 {
  color: #ffffff;
  text-align: center;
  font-family: Raleway Thin;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.city_font2 {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.week_font {
  color: #666;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}
.font-lighter {
  font-weight: 100;
}
.font-size80 {
  font-size: 80px;
}
.font-size50 {
  font-size: 50px;
}
.city_BG {
  position: relative;
  width: 100%;
  height: 800px;
  object-fit: cover;
  box-shadow: 0 0 10px#000000;
}
.city_container {
  width: 100%;
  height: 800px;
  display: flex;
  position: absolute;
  top: 0;
}

.Taiwan_map {
  display: flex;
  padding: 80px 40px 40px 40px;
  flex: 1;
}
.Taiwan_map img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.city_info {
  text-align: center;
  flex: 1;
}
.city_day {
  margin-top: 50px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-family: Raleway Thin;
  font-size: 30px;
  font-weight: 100;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.city_name {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
}
.weather_info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item1 {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: auto;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 30px;
  align-self: flex-end;
  position: relative;
}

.item1 img {
  width: 120px;
  position: absolute;
  left: 110px;
}

.temperature {
  width: 50%;
  height: 90px;
  margin: 0;
  text-align: right;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: lighter;
}

.wx {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-family: Raleway Thin;
  font-size: 30px;
}

.item2 {
  display: flex;
  width: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 40px;
  height: 150px;
  align-items: center;
  text-align: left;
  border-radius: 20px;
  background-color: #9468d5;
  opacity: 90%;
}

.item2 p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: inline-block;
  padding: 0 50px;
}
.weeks {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: aliceblue;
}
.week {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.day,
.pic,
.week_T {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic img {
  width: 100px;
  height: auto;
}
.day {
  color: #666;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}
.week_T {
  color: #666;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: normal;
}
.current_status {
  color: #3c82fb;
  font-size: 50px;
}
.current_shadow {
  box-shadow: 0 0 10px#3c82fb;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .pic img {
    width: 85px;
    height: auto;
  }
  .current_status {
    font-size: 45px;
  }
}

@media screen and (max-width: 900px) {
  .city_container {
    flex-wrap: wrap;
    height: auto;
  }
  .city_BG {
    height: 1250px;
    object-fit: cover;
  }
  .city_info {
    width: 100%;
    flex: none;
    order: 1;
  }

  .weather_info {
    order: 2;
    flex: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .Taiwan_map {
    order: 4;
    flex: none;
    width: 100%;
    height: 800px;
    padding: 0;
    margin-bottom: 0;
  }

  .Taiwan_map img {
    width: 100%;
    height: auto;
  }

  .city_name {
    margin-bottom: 0;
  }

  .item1 {
    order: 3;
    width: 100%;
    flex: none;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .T_pic {
    flex: 1;
    position: relative;
  }
  .item1 img {
    width: 120px;
    left: -30px;
  }

  .item2 {
    display: flex;
    order: 5;
    width: 45%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }
  .item2 p {
    font-size: 23px;
    padding: 0 20px;
  }

  .weeks {
    flex-direction: column;
    height: auto;
  }
  .week {
    flex: none;
    flex-direction: row;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }
}
