svg {
  height: 100vh;
  fill: #333;
}

path,
polygon,
g,
g path {
  stroke: #fff;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    fill: #fcd34d;
    transform: translate(-5px, -5px);
  }
}

.city__active {
  fill: #fcd34d !important;
  transform: translate(-5px, -5px);
}
