svg {
  height: 500px;
  fill: #d3dcf2;
}

body {
  background-color: #b09bbb;
}

path,
polygon,
g,
g path {
  stroke: #333;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    fill: #0465db;
    transform: translate(-5px, -5px);
  }
}

.city__active {
  fill: #0465db !important;
  transform: translate(-5px, -5px);
}
